# Dependencies
node_modules/
# WEBRTC-SERVERS/
# Build output
dist/
dist-ssr/
*.local

# Rust / Tauri
src-tauri/target/
src-tauri/gen/schemas/

# Editor / OS
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
.idea/
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*
